:root {
  --bg-color: #1e1e1e;
  --accent-color: #00cc7d;
  --accent-color-light: #00cc7e69;
  --string-color: #d69d85;
  --number-color: #b5cea8;
  --boolean-color: #4ec9b0;
  --label-color: #569cd6;
  --null-color: #7d8c93;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin-bottom: 46px;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;

  &.button-white {
    color: white;
  }
}

.app-toolbar {
  background-color: var(--accent-color);
  padding: 13px 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  .button {
    margin-left: 15px;
  }

  .json-path-input {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 16px;
    flex: 1 0 auto;

    &::placeholder {
      color: #3c3c3c;
    }
  }
}

.json-view {
  color: white;
  font-size: 14px;
  padding: 25px;

  section span {
    cursor: pointer;
    line-height: 22px;
  }

  .key {
    color: var(--label-color);
  }

  .string {
    color: var(--string-color);
  }

  .boolean {
    color: var(--boolean-color);
  }

  .number {
    color: var(--number-color);
  }

  .null {
    color: var(--null-color);
  }

  .block {
    margin-left: 15px;
    position: relative;
    border: 1px solid transparent;

    &--content__left {
      position: absolute;
      left: -20px;
      cursor: pointer;

      svg {
        transition: all 0.3s ease-in-out;
        transform-origin: center center;
        transform: rotate(90deg);
      }

      &.active svg {
        transform: rotate(0deg);
      }
    }

    &--content__right {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      .button {
        background-color: var(--accent-color);
        padding: 10px 12px;
        margin: 0 10px;
        border-radius: 5px;
      }

      svg {
        transition: all 0.3s ease-in-out;
        transform-origin: center center;
        transform: rotate(90deg);
      }

      &.active svg {
        transform: rotate(0deg);
      }
    }
  }
}

.popup {
  position: relative;

  &::after {
    content: attr(data-popup);
    background-color: var(--accent-color);
    padding: 5px 8px;
    font-size: 10px;
    letter-spacing: 0.5px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &.popup-below::after {
    top: 120%;
  }

  &.popup-top::after {
    top: -40px;
  }

  &:hover::after {
    opacity: 1;
  }
}

#snackbar {
  position: fixed;
  top: 20px;
  right: 20px;

  .snackbar-item {
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 13px;
    letter-spacing: -0.3px;
    margin: 10px 0;

    &.open {
      animation: snackbarIn 0.5s ease-in;
    }

    &.close {
      animation: snackbarOut 0.5s ease-out;
    }
  }
}

@keyframes snackbarIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes snackbarOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
